<form [formGroup]="thresholdForm" (ngSubmit)="onFormSubmit()">
  <div>
    <div style="margin-top: 32px; width: 100%">
      <mat-label class="mat-subtitle-2 m-b-12 d-block"
        >Select Datasource</mat-label
      >

      <mat-form-field style="width: 100%">
        <mat-label>Datasource</mat-label>
        <mat-select formControlName="datasource">
          @for (datasource of datasources; track datasource) {
            <mat-option [value]="datasource">{{
              datasource.resource
            }}</mat-option>
          }
        </mat-select>

        @if (thresholdForm.get("datasource").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>

    <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
      <div style="flex: 2 1 0%">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Threshold Name</mat-label
        >
        <mat-form-field appearance="fill" class="w-100" color="primary">
          <mat-label>Name</mat-label>

          <input matInput placeholder="" formControlName="thresholdName" />

          @if (thresholdForm.get("thresholdName").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
      <div style="flex: 1 1 0%; margin-right: 24px">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Select Method</mat-label
        >

        <mat-form-field style="width: 100%">
          <mat-label>Methods</mat-label>
          <mat-select formControlName="method">
            @for (method of methods; track method) {
              <mat-option [value]="method">{{ method }}</mat-option>
            }
          </mat-select>

          @if (thresholdForm.get("method").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div style="flex: 2 1 0%">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Select Column</mat-label
        >

        <mat-form-field style="width: 100%">
          <mat-label>Columns</mat-label>
          <mat-select formControlName="column">
            @for (column of selectableColumns; track column) {
              <mat-option [value]="column" [disabled]="column.is_dimension"
                >{{ column.name }}
                @if (column.is_dimension) {
                  <span
                    style="
                      padding: 6px 8px;
                      background-color: #f7f7f7;
                      font-size: 10px;
                    "
                    >Dimension</span
                  >
                }
              </mat-option>
            }
          </mat-select>

          @if (thresholdForm.get("column").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
      <div style="flex: 1 1 0%; margin-right: 24px">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Select Operator</mat-label
        >

        <mat-form-field style="width: 100%">
          <mat-label>Operators</mat-label>
          <mat-select formControlName="operator">
            @for (operator of selectedBaseColumn?.operators; track operator) {
              <mat-option [value]="operator">{{ operator.name }}</mat-option>
            }
          </mat-select>

          @if (thresholdForm.get("operator").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>

      <div style="flex: 2 1 0%">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Threshold Limit</mat-label
        >
        <mat-form-field appearance="fill" class="w-100" color="primary">
          <mat-label>Value</mat-label>

          <input matInput placeholder="" formControlName="thresholdValue" />

          @if (thresholdForm.get("thresholdValue").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
      <div style="flex: 1 1 0%; margin-right: 24px">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Filters Combine As</mat-label
        >

        <mat-form-field style="width: 100%">
          <mat-label>Combinators</mat-label>
          <mat-select formControlName="combinator">
            @for (combinator of combinators; track combinator) {
              <mat-option [value]="combinator">{{ combinator }}</mat-option>
            }
          </mat-select>

          @if (thresholdForm.get("combinator").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>

      <div style="flex: 1 1 0%; margin-right: 24px">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Alert Frequency</mat-label
        >

        <mat-form-field style="width: 100%">
          <mat-label>Frequency</mat-label>
          <mat-select formControlName="frequency">
            @for (
              frequency of selectedDatasource?.aggregate_by;
              track frequency
            ) {
              <mat-option [value]="frequency">{{
                frequency.frequency
              }}</mat-option>
            }
          </mat-select>

          @if (thresholdForm.get("frequency").hasError("required")) {
            <mat-error> Required </mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div formArrayName="filters" class="m-b-16">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Filters</mat-label
      >

      @for (
        filter of thresholdForm.get("filters")["controls"];
        track filter;
        let i = $index
      ) {
        <div
          style="
            margin: 24px 16px;
            padding: 12px 16px;
            background-color: #f7f7f7;
            border-radius: 8px;
          "
          [formGroupName]="i"
        >
          <div style="display: flex">
            <div style="flex: 1 1 0%">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Filter By Column</mat-label
              >
              <mat-form-field>
                <mat-label>Columns</mat-label>
                <mat-select formControlName="column_name">
                  @for (column of selectableDimensions; track column) {
                    <mat-option
                      [value]="column"
                      [disabled]="!column.is_dimension"
                      >{{ column.name }}
                      @if (column.is_dimension) {
                        <mat-icon>
                          <span
                            style="
                              padding: 2px 4px;
                              background-color: #f7f7f7;
                              font-size: 10px;
                            "
                            >Dim</span
                          >
                        </mat-icon>
                      }
                    </mat-option>
                  }
                </mat-select>
                @if (
                  filter.get("column_name").hasError("required") &&
                  (filter.get("column_name").touched ||
                    filter.get("column_name").dirty)
                ) {
                  <mat-error> Required </mat-error>
                }
              </mat-form-field>
            </div>
            <div style="flex: 1 1 0%">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Filter By Operator</mat-label
              >
              <mat-form-field>
                <mat-label>Operators</mat-label>
                <mat-select formControlName="operator">
                  @for (
                    operator of filter.get("column_name")?.value.operators;
                    track operator
                  ) {
                    <mat-option [value]="operator">{{
                      operator.name
                    }}</mat-option>
                  }
                </mat-select>
                @if (
                  filter.get("operator").hasError("required") &&
                  (filter.get("operator").touched ||
                    filter.get("operator").dirty)
                ) {
                  <mat-error> Required </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Filter By Value</mat-label
            >
            <mat-form-field appearance="fill" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Value</mat-label
              >
              <mat-select formControlName="value">
                @for (
                  column of distinctColumnValues[
                    filter.get("column_name")?.value.name
                  ];
                  track column
                ) {
                  <mat-option [value]="column.value"
                    >{{ column.value }}
                  </mat-option>
                }
              </mat-select>
              @if (
                filter.get("value").hasError("required") &&
                (filter.get("value").touched || filter.get("value").dirty)
              ) {
                <mat-error> Required </mat-error>
              }
            </mat-form-field>
          </div>
          <div
            style="
              display: flex;
              justify-items: flex-end;
              justify-content: flex-end;
            "
          >
            <button
              (click)="removeFilter(i)"
              type="buttton"
              mat-flat-button
              color="warn"
              class="view-button"
              style="float: right"
            >
              Remove
            </button>
          </div>
        </div>
      }
    </div>

    <button type="button" (click)="addFilter()" mat-stroked-button>
      + Add Filter
    </button>

    <div style="display: flex; justify-content: flex-end">
      <button type="submit" mat-flat-button color="primary" class="view-button">
        {{ buttonLabel }} Threshold
      </button>
    </div>
  </div>
</form>
