<div class="w-full pt-4">
  <breadcrumbs [breadcrumbs]="this.breadcrumbs"></breadcrumbs>
</div>

<div
  class="w-screen min-h-[70vh] relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] pt-4"
>
  <div class="h-full w-[90%] max-w-screen-2xl mx-auto">
    <mat-card>
      @if (this.ApiResponseStatus.processing) {
        <mat-progress-bar
          mode="indeterminate"
          style="position: absolute; top: 0; left: 0; right: 0"
        ></mat-progress-bar>
      }
      @if (this.ApiResponseStatus.processing) {
        <div
          style="
            position: absolute;
            top: 3%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 2;
          "
        ></div>
      }
      <div id="dashboard"></div>
    </mat-card>
  </div>
</div>
