<div style="margin-top: 96px; padding-top: 2rem">
  <breadcrumbs [breadcrumbs]="this.breadcrumbs"></breadcrumbs>
</div>

<div
  class="m-l-24 m-r-24"
  style="margin-top: 20px; min-height: 100vh; padding: 2rem 9%"
>
  <mat-card class="composite-data">
    <mat-progress-bar
      *ngIf="this.ApiResponseStatus.processing"
      mode="indeterminate"
      style="position: absolute; top: 0; left: 0; right: 0"
    ></mat-progress-bar>
    <div
      *ngIf="this.ApiResponseStatus.processing"
      style="
        position: absolute;
        top: 3%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2;
      "
    ></div>
    <div id="dashboard"></div>
    <!-- <section class="frame-section">
      <mat-card class="cardWithShadow">
       
      </mat-card>
    </section> -->
  </mat-card>
</div>
