<div class="m-l-24 m-r-24" style="margin-top: 160px; min-height: 100vh">
  <mat-card class="composite-data">
    @if (this.ApiResponseStatus.processing) {
      <mat-progress-bar
        mode="indeterminate"
        style="position: absolute; top: 0; left: 0; right: 0"
      ></mat-progress-bar>
    }
    @if (this.ApiResponseStatus.processing) {
      <div
        style="
          position: absolute;
          top: 3%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 2;
        "
      ></div>
    }
    <mat-card-header>
      <mat-card-title>
        <h3>Thresholds</h3>
      </mat-card-title>

      <mat-card-subtitle style="margin-top: 8px">
        <p>{{ "Edit Threshold" }}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper linear #stepper>
        <mat-step
          [stepControl]="stepperGroup1"
          [editable]="isEditable"
          label="Configure Threshold"
        >
          <threshold-form
            [datasources]="datasources"
            [threshold]="threshold"
            (formSubmit)="updateThreshold($event)"
            (showLoader)="showLoader($event)"
            buttonLabel="Update"
          ></threshold-form>
        </mat-step>
        <mat-step
          [stepControl]="stepperGroup2"
          [editable]="isEditable"
          label="Setup Alerts"
        >
          <alert-form
            (showLoader)="showLoader($event)"
            [alert]="alert"
            (formSubmit)="updateThresholdAlert($event)"
            buttonLabel="Update"
          ></alert-form>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>
