<div class="min-h-screen pt-16">
  <mat-card class="composite-data">
    @if (this.ApiResponseStatus.processing) {
      <mat-progress-bar
        mode="indeterminate"
        style="position: absolute; top: 0; left: 0; right: 0"
      ></mat-progress-bar>
    }
    @if (this.ApiResponseStatus.processing) {
      <div
        style="
          position: absolute;
          top: 3%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 2;
        "
      ></div>
    }

    <mat-card-header>
      <mat-card-title>Resources</mat-card-title>
      <span class="flex-1-auto"></span>

      @if (this.userRole === "level2" || this.userRole === "admin") {
        <a
          [routerLink]="['/resources/modify']"
          mat-flat-button
          class="view-button"
          style="background: #222a69"
        >
          <span style="color: white"> Upload new resource </span>
        </a>
      } @else {
        <div style="height: 30px"></div>
      }
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Search</mat-label>

        <input type="string" matInput (input)="onSearch($event)" />
      </mat-form-field>

      <div class="cards">
        @for (data of resources; track data) {
          <div class="card">
            <img
              class="cardimage"
              src="/assets/images/resources/anthraxcontrol.png"
              alt=""
            />
            <div class="content">
              <p [matTooltip]="data.original_filename?.toUpperCase()">
                {{ concatenate(data.original_filename?.toUpperCase(), 30) }}
              </p>
              <button (click)="openUrl(data.url)">Download</button>
            </div>
          </div>
        }
      </div>

      <div style="margin-top: 32px">
        <mat-paginator
          [length]="page.count"
          color="primary"
          (page)="onPageChanged($event)"
          [pageSize]="page.limit"
          [pageSizeOptions]="[10, 20, 50, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
