<style>
  .view-padding-top-10 {
    padding-top: 10px !important;
  }
</style>
<div class="min-h-screen w-full pt-16">
  @if (!this.currentUser.confirmed_at) {
    <mat-card class="cardWithShadow">
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          <h3>Confirm your account</h3>
        </mat-card-title>
        <mat-card-subtitle style="margin-top: 16px">
          <p>Please confirm your email address to access SHIELD.</p>
        </mat-card-subtitle>
        <span class="flex-1-auto"></span>
        @if (!this.ApiResponseStatusConfirmation.processing) {
          <button
            mat-flat-button
            class="view-button"
            (click)="requestConfirmationEmail()"
            color="primary"
          >
            <span style="color: white"> Request Confirmation Email </span>
          </button>
        }
        @if (this.ApiResponseStatusConfirmation.processing) {
          <button mat-flat-button class="view-button" disabled color="primary">
            <span style="color: white"> Requesting Confirmation...</span>
          </button>
        }
      </mat-card-header>
    </mat-card>
  }

  <mat-card class="cardWithShadow">
    <mat-card-header style="padding-bottom: 16px">
      <mat-card-title>
        <h3>
          {{ currentUser.name }}
        </h3>
      </mat-card-title>

      <mat-card-subtitle style="margin-top: 8px">
        <p>
          {{ currentUser.email }}
        </p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content style="padding-bottom: 16px">
      <div class="view-align--right view-padding-top-10">
        <button
          type="button"
          mat-button
          color="primary"
          [routerLink]="['/users/me/update-profile']"
        >
          Edit Profile
        </button>
        <button
          type="button"
          mat-button
          color="primary"
          [routerLink]="['/users/me/update-password']"
        >
          Edit Password
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  @if (this.currentUser.confirmed_at) {
    <mat-card class="cardWithShadow">
      <mat-card-header style="padding-bottom: 16px">
        <mat-card-title>
          <h3>Account Confirmed</h3>
        </mat-card-title>
        <mat-card-subtitle style="margin-top: 16px">
          <p>
            Your user account was confirmed on
            {{ this.currentUser.confirmed_at | date: "yyyy-MM-dd HH:mm:ss aa" }}
          </p>
        </mat-card-subtitle>
        <span class="flex-1-auto"></span>
        <button disabled mat-flat-button class="view-button" color="primary">
          <span style="color: white"> Account Already Confirmed </span>
        </button>
      </mat-card-header>
    </mat-card>
  }
</div>
