<div class="min-h-screen w-full">
  <mat-card class="cardWithShadow">
    <mat-card-header>
      <mat-card-title>
        <h3>
          {{ currentUser.id == "" ? "User" : currentUser.name }}
        </h3>
      </mat-card-title>

      <mat-card-subtitle>
        <p>
          {{ currentUser.id == "" ? "Create" : "Edit" }}
        </p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form
        class="m-t-30"
        name="form_user"
        id="form_user_modify"
        #ModifyUser="ngForm"
        (ngSubmit)="submitInstance()"
      >
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Name</mat-label
        >
        <mat-form-field appearance="fill" class="w-100" color="primary">
          <input
            matInput
            [formControl]="UserFormControls['user_name']"
            [(ngModel)]="currentUser.name"
          />

          @if (UserFormControls["user_name"].hasError("required")) {
            <mat-error>
              <strong>Required</strong>
            </mat-error>
          }
        </mat-form-field>

        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Email Adddress</mat-label
        >
        <mat-form-field appearance="fill" class="w-100" color="primary">
          <input
            matInput
            [formControl]="UserFormControls['user_email']"
            type="email"
            [(ngModel)]="currentUser.email"
          />

          @if (UserFormControls["user_email"].hasError("required")) {
            <mat-error>
              <strong>Required</strong>
            </mat-error>
          }
        </mat-form-field>

        <div class="view-align--right">
          <!--          <mat-spinner *ngIf="currentUser.MStatus.ms_processing" class="view-spinner&#45;&#45;inline"></mat-spinner>-->

          <!--          <i-tabler *ngIf="currentUser.MStatus.ms_action_result" class="view-icon&#45;&#45;inline view-color&#45;&#45;green"-->
          <!--                    name="circle-check-filled"></i-tabler>-->

          <button type="submit" mat-flat-button color="primary">
            {{ currentUser.id == "" ? "Create" : "Update" }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
