<div class="w-full pt-16 min-h-screen">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
    class="m-t-16"
  >
    <h2>Notifications</h2>

    <button
      style="background-color: #ffa500"
      type="submit"
      mat-flat-button
      class="view-button"
      [disabled]="selectedNotifications.length < 1"
      (click)="markNotificationsRead()"
    >
      Mark as Read
    </button>
  </div>

  @for (notification of Notifications; track notification) {
    <mat-card
      class="m-t-24"
      style="border-radius: 4px"
      [ngStyle]="{
        'border-left':
          notification.status === 'unread'
            ? '4px solid var(--accent-orange)'
            : 'none',
      }"
    >
      <div style="display: flex; flex-direction: row; align-items: center">
        <mat-checkbox
          class="custom-checkbox example-margin"
          [ngModel]="this.selectedNotifications.includes(notification.id)"
          (change)="toggleSelection(notification.id)"
        />
        <div>
          <mat-card-header>
            <mat-card-title>
              <p class="normal-header-text">{{ notification.title }}</p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="m-t-16 normal-text" style="min-height: 1rem">
            <p>{{ notification.message }}</p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  }
</div>
