<footer class="bg-[var(--main-blue)]">
  <div
    class="max-w-screen-xl mx-auto flex flex-col lg:flex-row items-stretch divide-y lg:divide-y-0 lg:divide-x divide-white/25"
  >
    <div class="flex-1 space-x-4 flex items-center py-8 px-8 2xl:px-0">
      <img
        class="h-36"
        src="assets/images/logos/moh-logo-emblem-only.png"
        alt=""
      />
      <div class="flex-1 text-white">
        <h2 class="text-3xl font-bold">MINISTRY OF HEALTH</h2>
        <a href="https://www.health.go.ke/" target="_blank">www.health.go.ke</a>
      </div>
    </div>

    <div class="flex-1 h-full px-8 py-12 text-white">
      <p
        class="text-white text-3xl font-bold decoration-2 underline decoration-[var(--accent-green)]"
      >
        Quick Links
      </p>

      <div class="space-y-2.5 flex flex-col items-start mt-4">
        <a>Dashboards</a>
        <a>Upload Data</a>
        <a>Thresholds</a>
        <a>FAQs</a>
        <a>Terms and Conditions</a>
      </div>
    </div>
    <div class="flex-1 text-white px-8 py-12">
      <p
        class="text-white text-3xl font-bold decoration-2 underline decoration-[var(--accent-green)]"
      >
        Help & Support
      </p>

      <div class="space-y-2.5 flex flex-col items-start mt-4">
        <div class="flex items-center space-x-2.5">
          <i class="bx bx-help-circle text-[var(--accent-green)] text-4xl"></i>
          <a [routerLink]="['/support/']">Go to help page</a>
        </div>
        <div class="flex items-center space-x-2.5">
          <i class="bx bx-mobile text-[var(--accent-green)] text-4xl"></i>
          <a>020-00000</a>
        </div>
        <div class="flex items-center space-x-2.5">
          <i class="bx bxs-envelope text-[var(--accent-green)] text-4xl"></i>
          <a href="mailto:support@shield.health.go.ke">{{ supportEmail }}</a>
        </div>
        <div class="flex items-center space-x-2.5">
          <i class="bx bx-home text-[var(--accent-green)] text-4xl"></i>
          <div>
            <a>MINISTRY OF HEALTH, Afya House, Cathedral Road</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>
      &#64; {{ currentYear }} Division of Disease Surveillance and Response .
      All rights reserved
    </p>
  </div>
</footer>
