<mat-card class="b-1 shadow-none view-card">
  <mat-card-header>
    <mat-card-title>
      <h3>
        {{ threshold.name }}
      </h3>
    </mat-card-title>

    <mat-card-subtitle style="margin-top: 8px">
      <p>
        {{ threshold.source }}
      </p>
    </mat-card-subtitle>

    @if (this.ApiResponseStatus.processing) {
      <div
      style="
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 4px;
      "
        >
        Loading Current Value .....
      </div>
    }

    @if (!this.ApiResponseStatus.processing) {
      <div
      style="
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 4px;
      "
        >
        <div style="margin-right: 8px">
          <div style="margin-top: 0px">
            <h1 class="mat-subtitle-1">{{ value }}</h1>
          </div>
          <mat-card-subtitle style="margin-top: 8px">
            <p>Current Threshold Value</p>
          </mat-card-subtitle>
        </div>
        <a
          mat-stroked-button
          color="primary"
          class="view-button view-float--right"
          (click)="refreshValue()"
          >
          Refresh
          <mat-icon>
            <i-tabler name="refresh" class="icon-12"></i-tabler>
          </mat-icon>
        </a>
      </div>
    }
  </mat-card-header>

  <mat-card-content>
    <div
      style="
        display: flex;
        justify-items: center;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 8px 12px;
        background-color: rgb(0, 133, 219, 0.1);
        border-radius: 4px;
      "
      >
      <mat-icon
        style="
          display: flex;
          justify-content: center;
          justify-items: center;
          margin-top: 2px;
          color: #0085db;
        "
        >
        <i-tabler name="bell-ringing" class="icon-20"></i-tabler>
      </mat-icon>

      <mat-card-subtitle style="margin-left: 8px; padding-top: 4px">
        <p style="font-size: 15px; color: #0085db">{{ description }}</p>
      </mat-card-subtitle>
    </div>
  </mat-card-content>

  <mat-divider style="margin: 8px 8px"></mat-divider>

  <mat-expansion-panel class="shadow-none">
    <mat-expansion-panel-header>
      <mat-panel-title style="margin-bottom: 2px">
        View Alerts
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <mat-card-subtitle>
        <p>Configuration</p>
      </mat-card-subtitle>

      <div
        style="
          display: flex;
          padding: 12px 16px;
          border-radius: 4px;
          margin-top: 8px;
          background-color: #f7f7f7;
        "
        >
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Method</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.method }}
            </p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Column</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.default.column_name }}
            </p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Comparator</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.default.operator }}
            </p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Threshold Limit</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.default.value }}
            </p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Alert Users</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.alert.user_ids.length }}
            </p>
          </mat-card-subtitle>
        </div>
      </div>
    </div>

    <div style="margin-top: 16px">
      <mat-card-subtitle>
        <p>Last Run</p>
      </mat-card-subtitle>

      <div
        style="
          display: flex;
          padding: 12px 16px;
          border-radius: 4px;
          margin-top: 8px;
          background-color: #f7f7f7;
        "
        >
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Last Run At</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.alert.last_run_at | date: "yyyy-MM-dd HH:mm:ss aa" }}
            </p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Next Run At</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>
              {{ threshold.alert.next_run_at | date: "yyyy-MM-dd HH:mm:ss aa" }}
            </p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Last Run Value</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>-</p>
          </mat-card-subtitle>
        </div>
        <div style="flex: 1 1 0%">
          <h1 class="mat-subtitle-2">Threshold Reached</h1>

          <mat-card-subtitle style="margin-top: 8px">
            <p>false</p>
          </mat-card-subtitle>
        </div>
      </div>
    </div>

    <div style="margin-top: 16px">
      <mat-card-subtitle>
        <p>All Runs</p>
      </mat-card-subtitle>

      <div
        class="mat-elevation-z1"
        style="padding: 12px 16px; border-radius: 4px; margin-top: 8px"
        >
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="ran_at">
            <th mat-header-cell *matHeaderCellDef>Run At</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ran_at | date: "yyyy-MM-dd HH:mm:ss aa" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Run Value</th>
            <td mat-cell *matCellDef="let element">{{ element.value }}</td>
          </ng-container>

          <ng-container matColumnDef="threshold">
            <th mat-header-cell *matHeaderCellDef>Threshold Limit</th>
            <td mat-cell *matCellDef="let element">{{ element.threshold }}</td>
          </ng-container>

          <ng-container matColumnDef="threshold_reached">
            <th mat-header-cell *matHeaderCellDef>Threshold Reached</th>
            <td mat-cell *matCellDef="let element">
              {{ element.threshold_reached }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="runColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: runColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of runs"
          >
        </mat-paginator>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-divider style="margin-top: 2px"></mat-divider>

  <mat-expansion-panel class="shadow-none">
    <mat-expansion-panel-header>
      <mat-panel-title style="margin-bottom: 2px"> View Query </mat-panel-title>
    </mat-expansion-panel-header>

    <div
      style="
        margin: 4px 4px;
        padding: 12px 16px;
        background-color: #f7f7f7;
        border-radius: 8px;
      "
      >
      <p style="white-space: pre-wrap; color: #3d3d3d">
        {{ threshold.sql }}
      </p>
    </div>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <div style="display: flex; justify-content: flex-end; margin: 8px 8px">
    <a
      mat-flat-button
      color="primary"
      class="view-button view-float--right"
      [routerLink]="['/thresholds/edit/', threshold.id]"
      >
      Edit Threshold
    </a>
    <a
      mat-flat-button
      color="warn"
      class="view-button view-float--right"
      (click)="onDeleteThreshold(threshold.id)"
      >
      Delete Threshold
    </a>
  </div>
</mat-card>
