<div
  class="login-page"
  style="
    background-image: url(&quot;assets/images/backgrounds/hero-bg.png&quot;);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <div class="left-content">
    <div class="home-content">
      <p
        style="
          font-weight: 300;
          line-height: 44px;
          font-size: 36px;
          color: #ffffff;
        "
      >
        WELCOME TO
      </p>
      <p
        style="
          font-weight: 900;
          line-height: 64px;
          font-size: 96px;
          color: #ffffff;
        "
      >
        SHIELD
      </p>
      <h3>Surveillance Health Information Exchange and Linkage Data</h3>
      <h4>One Stop Shop For Everything Disease Surveillance .</h4>
    </div>
  </div>
  <div class="left-half">
    <mat-card class="login-card cardWithShadow" style="width: 100%">
      <div class="login-top-bar">
        <img src="assets/images/logos/logo-moh.png" style="width: 30rem" />
        <p [routerLink]="['/authentication/login']" class="bx bx-arrow-back">
          Go Back
        </p>
      </div>

      @if (this.ApiResponseStatus.processing) {
        <mat-progress-bar
          mode="indeterminate"
          style="position: absolute; top: 0; left: 0; right: 0"
        ></mat-progress-bar>
      }
      @if (this.ApiResponseStatus.processing) {
        <div
          style="
            position: absolute;
            top: 3%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 2;
          "
        ></div>
      }

      <mat-card-header>
        <mat-card-title class="card-topic text-center f-w-600 with-red-line"
          >Reset your password</mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        @if (this.ApiResponseStatus.error) {
          <div class="text-center bubble-success" style="margin: 2rem">
            {{ this.ApiResponseStatus.message }}
          </div>
        }

        <form
          id="form_user_authenticate"
          (ngSubmit)="submitInstance()"
          class="m-t-30"
        >
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
            >User Email</mat-label
          >
          <mat-form-field appearance="fill" class="w-100" color="primary">
            <input
              matInput
              [formControl]="UserFormControls['user_email']"
              type="email"
              autofocus
              [(ngModel)]="AuthUser.email"
            />

            @if (UserFormControls["user_email"].hasError("required")) {
              <mat-error>
                <strong>Required</strong>
              </mat-error>
            }
          </mat-form-field>

          <div class="auth-bottom">
            @if (!this.ApiResponseStatus.processing) {
              <a
                (click)="submitInstance()"
                style="text-decoration: none"
                class="auth-button m-t-16 m-b-16"
              >
                Send Reset Link
              </a>
            }
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!--  <div class="right-half">-->
  <!--    <div class="image-container">-->
  <!--      <img src="assets/images/logos/logo-dalle.png" alt="Image" width="591">-->
  <!--    </div>-->
  <!--  </div>-->
</div>
