<div
  class="login-page"
  style="
    background-image: url(&quot;assets/images/backgrounds/hero-bg.png&quot;);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <div class="left-content">
    <div class="home-content">
      <p
        style="
          font-weight: 300;
          line-height: 44px;
          font-size: 36px;
          color: #ffffff;
        "
      >
        WELCOME TO
      </p>
      <p
        style="
          font-weight: 900;
          line-height: 64px;
          font-size: 96px;
          color: #ffffff;
        "
      >
        SHIELD
      </p>
      <h3>Surveillance Health Information Exchange and Linkage Data</h3>
      <h4>One Stop Shop For Everything Disease Surveillance .</h4>
    </div>
  </div>
  <div class="left-half">
    <div class="container">
      <div class="login-card cardWithShadow" style="width: 100%; height: 100%">
        <div class="login-top-bar">
          <p [routerLink]="['/home']" class="bx bx-arrow-back">Go Back</p>
        </div>
        <mat-progress-bar
          *ngIf="this.ApiResponseStatus.processing"
          mode="indeterminate"
          style="position: absolute; top: 0; left: 0; right: 0"
        ></mat-progress-bar>
        <div
          *ngIf="this.ApiResponseStatus.processing"
          style="
            position: absolute;
            top: 3%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 2;
          "
        ></div>

        <mat-card-header>
          <mat-card-title class="card-topic text-center with-red-line"
            >Enter your OTP</mat-card-title
          >
        </mat-card-header>

        <mat-card-content>
          <div
            class="text-center bubble"
            *ngIf="this.ApiResponseStatus.error"
            style="margin: 2rem"
          >
            {{ this.ApiResponseStatus.message }}
          </div>
          <form
            id="form_user_authenticate"
            (ngSubmit)="submitConfirmResetPassword()"
            class="m-t-30"
          >
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >New Password</mat-label
            >
            <mat-form-field appearance="fill" class="w-100" color="primary">
              <input
                matInput
                [formControl]="UserFormControls['user_password']"
                [type]="hide ? 'password' : 'text'"
              />
              <img
                matSuffix
                (click)="hide = !hide"
                src="{{
                  hide
                    ? 'assets/images/icons/icon-eye-invisible--black.png'
                    : 'assets/images/icons/icon-eye-visible--black.png'
                }}"
                alt=""
                class="view-icon--image"
              />

              <mat-error
                *ngIf="UserFormControls['user_password'].hasError('required')"
              >
                <strong>Required</strong>
              </mat-error>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Confirm New Password</mat-label
            >
            <mat-form-field appearance="fill" class="w-100" color="primary">
              <input
                matInput
                [formControl]="UserFormControls['confirm_password']"
                [type]="hide ? 'password' : 'text'"
              />
              <mat-error
                *ngIf="
                  UserFormControls['confirm_password'].hasError('required')
                "
              >
                <strong>Required</strong>
              </mat-error>

              <mat-error
                *ngIf="
                  UserFormControls['confirm_password'].hasError(
                    'passwordMismatch'
                  )
                "
              >
                <strong>Passwords do not match</strong>
              </mat-error>
            </mat-form-field>

            <div class="auth-bottom">
              <a
                *ngIf="!this.ApiResponseStatus.processing"
                (click)="submitConfirmResetPassword()"
                style="text-decoration: none"
                class="auth-button m-t-16 m-b-16"
              >
                Proceed
              </a>
            </div>
          </form>
        </mat-card-content>
      </div>
      <div class="second-card">
        <div class="login-top-bar">
          <p></p>
        </div>
        <mat-card-header>
          <mat-card-title class="card-topic text-center with-red-line" style=""
            >New to SHIELD?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div style="margin-top: 2rem" class="button-container">
            <p style="font-weight: 400; font-size: 14px; line-height: 18px">
              Register now for special access to SHIELD's specialized features.
            </p>
            <button
              class="button m-t-16 m-b-16"
              [routerLink]="['/authentication/register']"
            >
              Register
            </button>
          </div>
          <div class="button-container">
            <p style="font-weight: 400; font-size: 14px; line-height: 18px">
              Having trouble with registration or login? Contact our support
              centre or email us.
            </p>
            <button class="button m-t-16 m-b-16">Email Us</button>
          </div>
          <div>
            <mat-card-title
              class="card-topic text-center with-red-line"
              style=""
              >Contact Us</mat-card-title
            >
            <div class="support-content">
              <p>Fixed telephone: 020-000000</p>
              <p>Mobile number: 0780 000000</p>
              <p>Email: {{ supportEmail }}</p>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
