<div class="m-l-24 m-r-24" style="margin-top: 160px; min-height: 100vh">
  <mat-card class="composite-data">
    @if (this.ApiResponseStatus.processing) {
      <mat-progress-bar
        mode="indeterminate"
        style="position: absolute; top: 0; left: 0; right: 0"
      ></mat-progress-bar>
    }
    @if (this.ApiResponseStatus.processing) {
      <div
        style="
          position: absolute;
          top: 3%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 2;
        "
      ></div>
    }
    <mat-card-header>
      <mat-card-title>
        <h3>Dashboards</h3>
      </mat-card-title>

      <mat-card-subtitle style="margin-top: 8px">
        <p>{{ "Create an embedded dashboard" }}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 3px">
      <dashboard-form
        (formSubmit)="createDashboard($event)"
        (showLoader)="showLoader($event)"
        buttonLabel="Create"
      ></dashboard-form>
    </mat-card-content>
  </mat-card>
</div>
