<div class="about-top pt-16">
  <p
    style="font-weight: 300; line-height: 44px; font-size: 36px; color: #35459c"
  >
    Welcome to the Surveillance Health Information Exchange Linkage Data
    (SHIELD) Module!
  </p>

  <p
    style="
      font-weight: 600;
      line-height: 28px;
      font-size: 22px;
      margin-top: 2rem;
    "
  >
    The Surveillance Health Information Exchange Linkage Data (SHIELD) system is
    a centralized data repository developed by the Ministry of Health (MOH) to
    facilitate easy access to disease surveillance data and to enhance public
    health planning and response.
  </p>
</div>

<div class="content">
  <div class="content-left">
    <div style="padding: 0 1%">
      <h5
        style="
          font-weight: 700;
          font-size: 28px;
          line-height: 30px;
          color: #35459c;
          margin: 1rem 0;
        "
      >
        Overview
      </h5>
      <p style="font-weight: 300; line-height: 22px; font-size: 18px">
        SHIELD aims to seamlessly integrate multiple heterogeneous health data
        sources, such as the Kenya Health Information System (KHIS-2),
        Electronic Health Records (EHRs), and Laboratory Information Management
        Systems (LIMS), to create a comprehensive platform for accessing
        surveillance data on prioritized diseases and syndromes according to the
        Kenya Disease Surveillance Guidelines.
      </p>
    </div>
    <div>
      <img
        src="/assets/images/backgrounds/about.png"
        alt=""
        class="content-image"
      />
    </div>
  </div>
  <div class="content-right">
    <div>
      <h5
        style="
          font-weight: 700;
          font-size: 28px;
          line-height: 30px;
          color: #35459c;
          margin: 1rem 0;
        "
      >
        Data-driven
      </h5>
      <p style="font-weight: 300; line-height: 22px; font-size: 18px">
        To support timely and effective data use, the data analyzed in SHIELD is
        visualized through dashboards for routine surveillance, event-based
        surveillance, outbreak response, and program management, enabling
        data-driven decision-making. Additionally, SHIELD supports and enables
        real-time disease monitoring capabilities.
      </p>
    </div>
    <div style="margin-top: 5rem">
      <h5
        style="
          font-weight: 700;
          font-size: 28px;
          line-height: 30px;
          color: #35459c;
          margin: 1rem 0;
        "
      >
        Objective
      </h5>
      <p
        style="
          font-weight: 300;
          line-height: 22px;
          font-size: 18px;
          padding: 2% 0;
        "
      >
        SHIELD aims to centralize all data of surveillance value into a unified
        data resource, allowing public health officials to monitor all health
        data proactively to facilitate early disease detection, understand the
        magnitude of health threats, and help guide responses to emerging and
        re-emerging disease outbreaks.
      </p>
    </div>
  </div>
</div>

<div style="margin-top: 30px; min-height: 70vh">
  <div>
    <h2 class="m-b-24">Key Features:</h2>
    @for (data of accordionData; track data) {
      <div>
        <mat-accordion class="accordion-container">
          <mat-expansion-panel>
            <mat-expansion-panel-header class="accordion-header">
              <mat-panel-title class="accordion-title">
                <img
                  style="height: 60px; width: 60px; margin-right: 2rem"
                  src="{{ data.icon }}"
                  alt=""
                />
                {{ data.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="accordion-content">
              {{ data.content }}
            </p>
            <p [routerLink]="data.routeLink" class="route">
              {{ data.routeName }}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    }
  </div>
</div>
