<!-- <mat-sidenav-container
  class="mainWrapper blue_theme light-theme container"
  autosize
  autoFocus
  dir="ltr"
  style="background-color: #ffffff"
>
  <mat-sidenav-content class="">
    
  </mat-sidenav-content>
</mat-sidenav-container> -->

<main dir="ltr" class="w-full" style="background-color: #ffffff">
  <app-header
    [showToggle]="!isOver"
    (toggleCollapsed)="toggleCollapsed()"
    (toggleMobileNav)="sidenav.toggle()"
  ></app-header>

  <div
    class="w-full mx-auto max-w-screen-xl px-4 pb-32 2xl:px-0"
    [style.margin-top.px]="headerHeight"
  >
    <router-outlet></router-outlet>
  </div>

  <app-footer> </app-footer>
</main>
