<div style="padding: 5rem 9%; margin-top: 128px; min-height: 100vh">
  <div class="carousel-container">
    <div class="carousel-inner rounded-5 shadow-4-strong">
      <mdb-carousel
        #carousel
        [interval]="0"
        [controls]="true"
        [indicators]="false"
        [animation]="'fade'"
        [dark]="true"
      >
        <!-- @for (item of config.SUMMARIZED_IFRAME_SOURCES; track item) {
          <mdb-carousel-item>
            <div style="height: 80vh">
              <iframe [src]="item.source" frameborder="0" width="100%" height="90%"></iframe>
            </div>
          </mdb-carousel-item>
        } -->
      </mdb-carousel>
    </div>

    <div class="carousel-controls">
      <div
        style="font-size: 3.6rem"
        class="bx bx-skip-previous-circle"
        (click)="previousSlide()"
      ></div>
      <div
        style="font-size: 3.6rem"
        class="bx bx-skip-next-circle"
        (click)="nextSlide()"
      ></div>
    </div>
  </div>
</div>
