<form [formGroup]="dashboardForm" (ngSubmit)="onFormSubmit()">
  <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
    <div style="flex: 2 1 0%">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Dashboard Name</mat-label
      >
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Name</mat-label>

        <input matInput placeholder="" formControlName="name" />

        @if (dashboardForm.get("name").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
    <div style="flex: 2 1 0%">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Dashboard Description</mat-label
      >
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Description</mat-label>

        <textarea matInput placeholder="" formControlName="description">
        </textarea>

        @if (dashboardForm.get("description").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
    <div style="flex: 1 1 0%; margin-right: 24px">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Superset Domain</mat-label
      >
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Domain</mat-label>

        <input matInput placeholder="" formControlName="domain" />

        @if (dashboardForm.get("domain").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>

    <div style="flex: 1 1 0%">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Superset Dashboard Id</mat-label
      >
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Dashboard ID</mat-label>

        <input matInput placeholder="" formControlName="dashboardId" />

        @if (dashboardForm.get("dashboardId").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div style="margin-top: 24px; margin-bottom: 24px; display: flex">
    <div style="flex: 1 1 0%; margin-right: 24px">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Dashboard Group</mat-label
      >
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Group</mat-label>

        <mat-select formControlName="groupId">
          @for (group of dashboardGroups; track group) {
            <mat-option [value]="group.id">{{ group.name }}</mat-option>
          }
        </mat-select>

        @if (dashboardForm.get("groupId").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>

    <div style="flex: 1 1 0%">
      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
        >Authorized User Roles</mat-label
      >
      <mat-form-field appearance="fill" class="w-100" color="primary">
        <mat-label>Roles</mat-label>

        <mat-select multiple formControlName="roles">
          @for (role of roles; track role) {
            <mat-option [value]="role">{{ role }}</mat-option>
          }
        </mat-select>

        @if (dashboardForm.get("roles").hasError("required")) {
          <mat-error> Required </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div style="display: flex; justify-content: flex-end">
    <button type="submit" mat-flat-button color="primary" class="view-button">
      {{ buttonLabel }} Dashboard
    </button>
  </div>
</form>
