@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

mat-card {
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #333333;
  --main-color: #24abce;
  --main-bg-color: #ffffff;
  --accent-orange: #ff6200;
  --accent-green: #20c997;
  --button-color: #007bff;
  --main-blue: #16428d;
  --dark-blue: #152b51;
  --main-gradient: var(--main-color);
  --main-gradient-color: #e5f2fd;
  --text-color-white: #ffffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
--main-blue body {
  background: var(--main-bg-color);
  color: var(--text-color);
}

/* //Banner and Navbar css start */
.top-header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  height: 8rem;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.top-header.hidden {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  align-items: center;
  z-index: 100;
  transition: top 0.3s ease-out;
}

.header.top {
  top: 0;
}

.header.fixed {
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  height: 50px;
  display: flex;
}

.nav.hide-nav {
  display: none; /* You can play on opacity for nice transitions*/
}

.view-button {
  margin: 5px 5px 5px 0 !important;
}

.view-icon--image {
  width: 20px;
  margin-right: 5px;
  border-radius: 10px;
}

.view-icon--image:hover {
  cursor: pointer;
  background: rgb(230, 230, 230);
}

.view-spinner--inline {
  width: 30px !important;
  height: 30px !important;
  display: inline-block !important;
  vertical-align: middle;
  margin: 0 10px;
}

.view-icon--inline {
  width: 30px !important;
  height: 30px !important;
  display: inline-block !important;
  vertical-align: middle;
  margin: 0 10px;
}

.view-color--green {
  color: green;
}

.view-color--red {
  color: red;
}

.view-border-radius--30 {
  border-radius: 30px !important;
}

/* View Card */
.view-card {
  margin: 20px 0 !important;
}

.view-float--right {
  float: right;
}

.border-none {
  border: 0;
  outline: 0;
}

.view-text--size-large {
  font-size: large;
}

.view--text-title {
  display: inline-block;
  margin: 0 5px 8px;
  padding: 0 10px;
  min-width: 180px;
}

.view--text-title .text {
  color: black;
}

.view--text-title .title {
  font-size: 13px;
}

mat-error {
  margin: 0 0 20px;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  position: relative !important;
}

/* Alignment */
.view-align--right {
  text-align: right;
}

.view-align--left {
  text-align: left;
}

/* //Banner and Navbar css end */
.bottom-header {
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  z-index: 99;
}

.active-header {
  background: #16428d;
}

.logo {
  width: 120px;
  height: 90px;
  flex-shrink: 0;
}

.nav-shield {
  width: 400px;
  height: 80px;
  flex-shrink: 0;
  margin-left: 46px;
  background: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 100%;
  left: -100%;
  width: 100%;
  padding: 1rem 0%;
  background: transparent;
  z-index: 1;
  transition: 0.25s ease;
  transition-delay: 0.25s;
}

.navbar-tools a {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  margin-right: 1.5rem;

  img {
    height: 32px;
    width: 32px;
  }

  svg {
    height: 32px;
    width: 32px;
  }
}

.navbar-tools-items {
  display: flex;
  align-items: center;
}

.navbar-extra {
  display: none;
}

.navbar a {
  position: relative;
  align-items: center;
  display: inline-flex;
  font-size: 1.7rem;
  color: var(--main-bg-color);
  text-decoration: none;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.icon-container i {
  color: #ffffff;
  font-size: 18px;
}

/* section {
  padding: 10rem 9% 2rem;
} */

.help-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  width: auto;
}

.help-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  height: 522px;
}

.help-text {
  font-weight: 600;
  line-height: 32px;
  font-size: 2rem;
  margin-bottom: 8px; /* Equivalent to m-b-8 */
  margin-top: 24px; /* Equivalent to m-t-24 */
}

.gradient-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  background: linear-gradient(180deg, rgba(21, 165, 202, 0) 0%, #15a5ca 100%);
  box-shadow: 0 4px 10px #222a69;
  border-radius: 9999px;
  font-size: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5% 2rem;
  position: relative;
}

.cards-data {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  flex-grow: 1;
  scrollbar-width: none; /*Hide scrollbar*/
  -ms-overflow-style: none; /*Hide scrollbar*/
}
.card-container::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
  color: var(--main-color);
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.card-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first-indicator {
  width: 30px;
  height: 10px;
  border-radius: 16px;
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 16px;
  padding: 25px;
  margin: 5px 32px;
}

.card-image {
  height: 24.8rem;
  width: 31.3rem;
  border-radius: 5px 5px 0 0;
}

.card h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #03062c;
  line-height: 32px;
}

.card h3 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #03062c;
  opacity: 0.7;
  line-height: 24px;
}

.card-button-box {
  position: relative;
  margin-top: 44px;
  font-weight: 700;
  font-size: 18px;
}

.card-button-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  height: 54px;
  background: var(--button-color);
  border-radius: 24px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

.frame-section {
  min-height: 61vh;
  padding: 15rem 1.5%;
}

.frame-section-content {
  height: 90vh;
  top: 20%;
  left: 0;
  margin-bottom: 5.5rem;
}

.frame-section-content iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #b6b6b6;
  font-size: 18px;
}

.frame-section-content h3 {
  font-size: 3.2rem;
  font-weight: 400;
  color: #03062c;
  line-height: 4.6rem;
  word-wrap: break-word;
}

.frame-section-content i {
  font-size: 1.5rem;
  cursor: pointer;
}

.home {
  height: 78vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20rem;
  padding-bottom: 10rem;
  padding-left: 9%;
  padding-right: 9%;
  background: var(--main-gradient-color);
  background-image: url("assets/images/backgrounds/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-image-content {
  max-width: 50rem;
}

.home-image {
  width: 504px;
  height: 504px;
  flex-shrink: 0;
  margin-top: 60px;
}

.home-content {
  max-width: 70rem;
}

.home-content h1 {
  font-size: 90px;
  font-weight: 700;
  color: var(--text-color);
  margin-top: 100px;
  line-height: 76px;
  width: 448px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 600;
  /* //color: #03062C; */
  line-height: 40px;
  margin-top: 35px;
  color: var(--text-color-white);
  word-wrap: break-word;
}

.home-content h4 {
  font-size: 20px;
  font-weight: 700;
  /* //color: #03062C; */
  line-height: 30px;
  margin-top: 35px;
  color: var(--text-color-white);
  word-wrap: break-word;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
  width: 15rem;
  height: 100%;
  background: var(--accent-green);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 0.1rem;
}

.btn-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 35px;
  height: 5rem;
}

.btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 15rem;
  background: var(--accent-green);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 0.1rem;
}

.down-arrow {
  margin-left: 6px;
}

/* footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 2rem 0;
} */

.footer-top {
  background: var(--main-blue);
  min-height: 224px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 9%;
}

.footer-section {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* //for the vertical lines after each div on the footer */
.footer-section:not(:last-child) {
  border-bottom: none;
  border-right: 2px solid #ffffff;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 200px;
}

.footer-logo-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  width: 83.2px;
  height: 60.83px;
  padding-top: 1rem;
}

.footer-logo-container a {
  top: 70%;
  left: 32%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

/* //make footer logo responsive */
.footer-logo-container p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 6px;
}

/* for responsiveness */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-section {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer-logo-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .footer-section:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.shield-logo {
  width: 178px;
  height: 100px;
  flex-shrink: 0;
}

.shield-logo-container .logo-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: Lato, sans-serif;
  width: 238px;
}

.copyright {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue);
}

.copyright p {
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
}

.wrap-cell {
  white-space: normal;
  word-wrap: break-word;
}

.terms-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 200px;
}

.terms-container a {
  color: #ffffff;
  line-height: 3rem;
  font-size: 1.8rem;
}

.terms-container span {
  font-weight: normal;
  color: #ffffff;
  line-height: 3rem;
  font-size: 1.8rem;
}

.footerItems {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footerIcons {
  color: var(--accent-green);
  font-size: 24px;
}

.quick {
  color: #ffffff;
  line-height: 3rem;
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: #20c997;
  text-decoration-thickness: 2px;
}

.bubble {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.6rem;
}

.bubble-success {
  background-color: #73eac0;
  border: 1px solid #73eac0;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.6rem;
}

.navbar .hide-fullScreen {
  display: none;
}

.normal-text {
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 24px;
}

.about-text {
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 24px;
}

.link-text {
  color: inherit;
}

.link-text:hover {
  color: var(--main-color);
}

.hover-link:hover {
  color: var(--main-color);
}

.normal-header-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  line-height: 32px;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1110px) {
  /* .composite-data {
    padding: 6rem 2rem;
  } */

  section {
    padding: 6rem 2rem;
  }

  .home {
    padding: 6rem 2rem;
  }

  .frame-section {
    padding: 15rem 9% 2rem;
    min-height: 61vh;
  }

  .home-image {
    display: none;
  }

  .shield-logo {
    display: none;
  }

  .header {
    background: var(--main-blue);
  }

  #menu-icon {
    display: block;
  }

  /* //.navbar {
  //  position: absolute;
  //  top: 100%;
  //  left: -100%;
  //  width: 100%;
  //  padding: 1rem 1%;
  //  background: #ffffff;
  //  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  //  z-index: 1;
  //  transition: .25s ease;
  //  transition-delay: .25s;
  //} */

  .navbar-tools {
    display: none;
  }

  /* .navbar img {
    //display: none;
  } */

  .navbar.active {
    left: 0;
    transition-delay: 0s;
    margin-top: 1px;
    width: 100%;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    color: black;
    margin: 2rem 0;
    /* //transform: translateX(-20rem); */
    transition-delay: 0s;
    overflow: hidden;
    width: 100%;
    /* //padding: 1rem; */
  }

  .navbar.active a {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition-delay: 0.25s;
    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s ease-in-out,
      max-width 0.25s ease-in-out;
    width: 100%;
    padding: 0 2rem;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: left 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a:hover,
  .navbar a.active {
    color: var(--accent-green);
  }

  .navbar .hide-fullScreen {
    display: block;
  }

  .cards-data {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .card {
    margin-bottom: 20px;
    width: 100%;
  }

  .scroll-button {
    display: none;
  }

  .card-indicators {
    display: none;
  }

  .help-icon-box .gradient-box {
    display: none;
  }

  .help-headers {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }

  .help-headers p {
    margin-top: 4px;
  }

  .navbar {
    display: none;
  }

  .navbar-tools {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  .header {
    padding: 2rem 5%;
  }
}

.side-drawer {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: var(--main-blue);
  transition: left 0.3s ease-in-out;
  z-index: 1001;
  overflow-y: auto;
}

.side-drawer.open {
  left: 0;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--dark-blue);
}

.close-drawer {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.drawer-content {
  padding: 20px;
}

.drawer-content a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-decoration: none;
}

.drawer-content a.active {
  color: var(--accent-green);
}

@media (min-width: 1111px) {
  .side-drawer {
    display: none;
  }
}

* {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
